body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, rgb(255, 0, 0) , rgb(255, 255, 0)); /* Standard syntax */
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}

.random {
    padding: 0.7rem;
    border: 0;
    background-color: rgb(119, 144, 255);
    color: white;
    border-radius: 5px;
}

.random:hover {
    padding: 0.7rem;
    border: 0;
    background-color: rgb(81, 104, 211);
    color: white;
    border-radius: 5px;
}